@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Noto Sans', sans-serif;
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
}


@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Bold.eot');
    src: url('../fonts/Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Recoleta-Bold.woff') format('woff'),
    url('../fonts/Recoleta-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Thin.eot');
    src: url('../fonts/Recoleta-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Recoleta-Thin.woff') format('woff'),
    url('../fonts/Recoleta-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

@import 'blocks/text-block';
@import 'blocks/running';
@import 'blocks/button.scss';
@import 'blocks/human';
@import 'blocks/production';
@import 'blocks/employees';
@import 'blocks/text-img-block';
@import 'blocks/scenes';
@import 'blocks/consider';

