.consider {
    padding: 120px 0 120px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        text-align: center;
    }
    &__wrapper {
        align-items: start;
        margin-top: 18px;
        display: grid;
        grid-template: minmax(390px, auto) / repeat(3, 350px);
        gap: 50px;
    }
    &__elem {
        padding: 50px 40px 65px 15px;
        background: #FBFAF7;
        box-shadow: 5px 5px 20px #E9E4D5;
        border-radius: 15px;
        ul {
            margin: 23px 0 0 20px;
            padding: 0;
            li {
                margin-bottom: 10px;
            }
        }
    }
    &__title {
        margin-top: 20px;
    }
}