.title {
    font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: $main-color;
}
.description {
    margin-top: 27px;
    font-family: Noto Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $main-color;
}